.App {
  text-align: center;
}

label {
  display: block;
  margin: 1em;
}

input{
  margin-left: 1em;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
}

.editor, .preview{
  border: solid;
  flex: 1;
  min-width: 400px;
}
